[submodule "second_year/S2/openGL/volcano-project"]
	path = second_year/S2/openGL/volcano-project
	url = git@gitlab.com:cotterma/project3d.git
[submodule "2A/werewolf-project"]
	path = 2A/werewolf-project
	url = git@github.com:dxkkxn/werewolf.git
