[submodule "2A/volcano-project"]
	path = 2A/volcano-project
	url = https://gitlab.com/cotterma/project3d
[submodule "2A/werewolf-project"]
	path = 2A/werewolf-project
	url = git@github.com:dxkkxn/werewolf.git
[submodule "3A/trade-mirror"]
	path = 3A/trade-mirror
	url = git@github.com:dxkkxn/trademirror.git
[submodule "3A/dismake"]
	path = 3A/dismake
	url = git@github.com:dxkkxn/dismake.git
[submodule "3A/xinul"]
	path = 3A/xinul
	url = git@github.com:dxkkxn/dismake.git
[submodule "2A/blobwar"]
	path = 2A/blobwar
	url = git@github.com:dxkkxn/blobwar.git
